    <footer class="pie-pagina">
        <div class="contenedor-pie">
            <div class="columna-pie">
                <h2 class="logotipo-pie">Pangea Relics</h2>
                <p class="descripcion-pie">
                    Compra y venta de antigüedades auténticas.
                    Piezas certificadas con historia y valor.
                </p>

                <div class="redes-sociales">
                    <a href="https://www.facebook.com/" target="_blank" class="enlace-red">Facebook</a>
                    <a href="https://www.instagram.com/" target="_blank" class="enlace-red">Instagram</a>
                    <a href="https://x.com/" target="_blank" class="enlace-red">Twitter</a>
                </div>
            </div>

            <div class="columna-pie">
                <h3>Enlaces Rápidos</h3>
                <ul class="lista-pie">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/pages/productos.html">Productos</a></li>
                    <li><a href="/pages/mision-vision.html">Misión & Visión</a></li>
                    <li><a href="/pages/contacto.html">Contacto</a></li>
                </ul>
            </div>

            <div class="columna-pie">
                <h3>Contacto</h3>
                <ul class="lista-contacto">
                    <li>Av. El poblado, one plaza</li>
                    <li>Medellin, Colombia</li>
                    <li>Tel: +57 311 456-8900</li>
                    <li>info@pangearelics.com</li>
                </ul>
            </div>
        </div>
    </footer>