<footer class="pie-pagina">
    <div class="contenedor-pie">
        <div class="columna-pie">
            <h2 class="logotipo-pie">Pangea Relics</h2>
            <p class="descripcion-pie">
                Compra y venta de antigüedades auténticas.
                Piezas certificadas con historia y valor.
            </p>

            <div class="redes-sociales">
                <a href="#" class="enlace-red">Facebook</a>
                <a href="#" class="enlace-red">Instagram</a>
                <a href="#" class="enlace-red">Twitter</a>
            </div>
        </div>

        <div class="columna-pie">
            <h3>Enlaces Rápidos</h3>
            <ul class="lista-pie">
                <li><a href="/">Inicio</a></li>
                <li><a href="/pages/productos.html">Productos</a></li>
                <li><a href="/pages/mision-vision.html">Misión & Visión</a></li>
                <li><a href="/pages/contacto.html">Contacto</a></li>
            </ul>
        </div>

        <div class="columna-pie">
            <h3>Contacto</h3>
            <ul class="lista-contacto">
                <li>Av. Libertador 1234</li>
                <li>Buenos Aires, Argentina</li>
                <li>Tel: +54 11 4567-8900</li>
                <li>info@pangearelics.com</li>
            </ul>
        </div>
    </div>

    <div class="fondo-pie">
        <p>© 2026 Pangea Relics. Todos los derechos reservados.</p>
    </div>
</footer>