    <header class="encabezado">
        <div class="contenedor-encabezado">
            <a href="/" class="logotipo">
                <h1>Pangea Relics</h1>
            </a>
            
            <nav class="navegacion">
                <ul class="lista-navegacion">
                    <li><a href="/" class="enlace-nav">Inicio</a></li>
                    <li><a href="/pages/productos.html" class="enlace-nav">Productos</a></li>
                    <li><a href="/pages/mision-vision.html" class="enlace-nav">Misión & Visión</a></li>
                    <li><a href="/pages/contacto.html" class="enlace-nav">Contacto</a></li>
                </ul>
            </nav>

            <button class="boton-menu" id="botonMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </header>