<header class="encabezado">
    <div class="contenedor-encabezado">

        <a href="/" class="logotipo">
            <img class="img-header" src="/assets/img/SVGPangeaNaranjaSinFondo.svg" alt="Pangea Relics">
            <h1>Pangea Relics</h1>
        </a>

        <nav class="navegacion">
            <ul class="lista-navegacion">
                <li><a href="/" class="enlace-nav">Inicio</a></li>
                <li><a href="/pages/productos.html" class="enlace-nav">Productos</a></li>
                <li><a href="/pages/mision-vision.html" class="enlace-nav">Misión & Visión</a></li>
                <li><a href="/pages/contacto.html" class="enlace-nav">Contacto</a></li>
                
                <div id="auth-container" class="auth-flex-group">
                    <li><a href="/pages/login.html" class="enlace-nav boton-autentificacion">Login</a></li>
                    <li><a href="/pages/register.html" class="enlace-nav boton-autentificacion">Register</a></li>
                </div>
            </ul>
        </nav>

        <button class="boton-menu" id="botonMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>